<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/youth/Desktop/ew/qsheal/appiumTest"><classes><class name="appiumTest.Demo1"><methods><include name="doOne"/></methods></class></classes></test></suite>